body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;
}

h1{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 1.1rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
}
.iphone-img{
    width: 30%;
    right: 10%;
    transform: rotate(25deg);
    position: absolute;
}
.feature-item>h3{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 1.5rem;
}
#features{
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position: relative;
}

#features>p{
    color: #8f8f8f;
}
i{
    color: #ef8172;
}
i:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;

}
h2{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 3%;
}
.testimonial-logo{
    border-radius: 100%;
    width: 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding: 5% 5%;
}
.press-logo{
    width: 15%;
    margin: 0 2rem;
}
.carousel-item{
    padding: 5% 10%;
}
#pricing{
    padding: 5.4rem;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .iphone-img{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
}
.cta-header{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
    padding: 5% 15%;
}
.cta-btn{
    margin: 1rem;
}
.icon-app{
    color: white;
}
.icon-play{
    color: black;
}
#footer{
    background-color: #fff;
    text-align: center;
}
.footer-icon{
    color: black;
    margin: 0 1rem;
}
.copyright{
    color: #8f8f8f;
}