body {
  background-color: #d3dedc;
}

li {
  list-style-type: upper-latin;
  list-style-position: inside;
  border: 0.5px solid #151d3b;
}

.btn-start,
.quiz-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #92a9bd;
}

.btn-restart {
  margin-bottom: 8px;
}

.inactive {
  display: none;
}

.question-text {
  font-size: 24px;
  font-weight: 600;
}

.option-list {
  margin: 8px 0;
  padding: 8px 0;
}

.question-options {
  padding: 0;
}

.option {
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.option-item:hover {
  color: #112b2c;
  background: #ffd33d;
  transition: 0.5s;
}

.correct-answer {
  color: #eaeeeb;
  background: #1b7e32;
  transition: 0.5s;
}

.wrong-answer {
  color: #eaeeeb;
  background: #9e2b08;
  transition: 0.5s;
}

.pointer-inactive {
  pointer-events: none;
}

.footer {
  display: flex;
  justify-content: space-between;
}

h3 {
  text-align: center;
  align-items: center;
  padding: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid #635666;
  color: #d3ebcd;
  border-radius: 50%;
  background-color: #635666;
  margin: 0;
}

.btn-lg {
  height: 45px;
}

.next {
  background-color: #2146c7;
}

.results {
  text-align: center;
  padding: 10px;
}
