body {
  margin: 0;
}
header {
  background-color: #fc997c;
  padding: 8px 16px;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 21px;
}

nav li {
  list-style: none;
  display: inline-block;
}

.title {
  display: inline-block;
}

nav {
  display: inline-block;
  width: calc(100% - 99px);
  text-align: right;
}

.container {
  margin: 0;
  padding: 10px;
  background-color: #2e4c6d;
  height: 500px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1548217395-6c6095abb49c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
  background-position: center;
}

.nav-item a {
  display: inline-block;
  margin: 0 8px;
  text-decoration: none;
  color: #fff;
}
.nav-items {
  margin: 0 10px;
}

.nav-items a:hover {
  color: #2e4c6d;
}
.nav-items a:active {
  color: #fff;
}

.nav-item:hover::before {
  color: #2e4c6d;
}
.nav-item:active::before {
  color: #fff;
}

.nav-login a {
  background-color: #2e4c6d;
  padding: 5px 12px;
  border-radius: 7px;
  border: 1px solid #fff;
}
.nav-login a:hover {
  background-color: #fff;
  color: black;
}

.footer {
  margin: 0;
  padding: 0;
}

.footer-title {
  text-align: center;
  color: #3c4048;
}

.footer-contents {
  padding: 5px;
}

.footer-content {
  text-align: center;
  color: #3c4048;
  display: inline-block;
  width: 30%;
  padding: 5px;
}

.col-2 {
  display: inline-block;
  height: 350px;
  width: calc(43% - 2px);
  vertical-align: top;
}

.first {
  background: url(https://wallpaperaccess.com/full/329583.jpg);
  background-position: top left;
}

.desc {
  background-color: #edf5f7;
  padding: 40px;
}

.desc a {
  background-color: #fc997c;
  color: #fff;
  padding: 7px 15px;
  border-radius: 7px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fc997c;
  display: inline-block;
  margin-top: 10px;
}

.desc a:hover {
  background-color: #fff;
  color: #fc997c;
  border: 1px solid #2e4c6d;
}

.subs {
  text-align: center;
  padding: 0 15%;
}

.float {
  float: left;
  background-color: #edf5f7;
}

.recom {
  margin: 0 1%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
