body {
  margin: 0;
}
header {
  background-color: #fc997c;
  padding: 8px 16px;
}

.title {
  color: #fff;
  font-weight: bold;
  font-size: 21px;
}

li {
  list-style: none;
  display: inline-block;
}

.title {
  display: inline-block;
}

nav {
  display: inline-block;
  width: calc(100% - 99px);
  text-align: right;
}

.container {
  margin: 0;
  padding: 10px;
  background-color: #2e4c6d;
  height: 500px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1548217395-6c6095abb49c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
  background-position: center;
}

.nav-item a {
  display: inline-block;
  margin: 0 8px;
  text-decoration: none;
  color: #fff;
}
.nav-items {
  margin: 0 10px;
}

.nav-items a:hover {
  color: #2e4c6d;
}
.nav-items a:active {
  color: #fff;
}

.nav-item:hover::before {
  color: #2e4c6d;
}
.nav-item:active::before {
  color: #fff;
}

.nav-login a {
  background-color: #2e4c6d;
  padding: 5px 12px;
  border-radius: 7px;
  border: 1px solid #fff;
}
.nav-login a:hover {
  background-color: #fff;
  color: black;
}

.footer {
  padding: 10px;
  text-align: center;
  color: #3c4048;
}

.footer-contents {
  padding: 5px;
}

.footer-content {
  display: inline-block;
  width: 30%;
  padding: 5px;
}
